/* ------------------------------------------------------------------------
===========================================================================
  Mixins
===========================================================================
------------------------------------------------------------------------ */

  /* ---- Sprite for Global Sprite ---- */
    @mixin sprite-global($w, $h, $x, $y) {
      width:$w;
      height:$h;

      background: url('../../assets/images/main-sprite.png') no-repeat $x $y;
    }
  
  /* ---- Sprite with Variable Img ---- */
    @mixin sprite-vari($w, $h, $x, $y, $url) {
      width:$w;
      height:$h;

      background: $url no-repeat $x $y;
    }