/* ------------------------------------------------------------------------
===========================================================================
  Mixins
===========================================================================
------------------------------------------------------------------------ */

  /* ---- Inline-Block with Haslayout Hack ---- */
    @mixin inline-block {
      display:inline-block;
      zoom:1;
      *display:inline;
    }

  /* ---- Sprite for Global Sprite ---- */
    @mixin sprite-global($w, $h, $x, $y) {
      width:$w;
      height:$h;

      background: url('../../assets/images/main-sprite.png') no-repeat $x $y;
    }
  
  /* ---- Sprite with Variable Img ---- */
    @mixin sprite-vari($W, $h, $x, $y, $url) {
      width:$x;
      height:$y;

      background: $url no-repeat $x $y;
    }