/* ------------------------------------------------------------------------
===========================================================================
  Variables
===========================================================================
------------------------------------------------------------------------ */

  /* ------------------------------
    Colors
  ------------------------------ */
    $headline:#555;
    $text:#333;
    $links:desaturate(blue, 60%);

  /* ------------------------------
    Fonts
  ------------------------------ */
    $head-font:'Oswald', Helvetica, sans-serif;
    $text-font:'Open Sans', Helvetica, sans-serif;

  /* ------------------------------
    Misc
  ------------------------------ */
    $pageWide:1000px;