/* ---------
	Variables
--------- */
	/* ----- Colors ----- */
		$headline:#555;
		$text:#333;
		$links:desaturate(blue, 60%);

	/* ----- Misc ----- */
		$head-font:'Oswald', Helvetica, sans-serif;
		$text-font:'Open Sans', Helvetica, sans-serif;

		$pageWide:1000px;