/* ---------------------------------------------
   ======---------------------------------======
    Chunks
   ======---------------------------------======
--------------------------------------------- */
/* ====---------------====
  Clearfix - Only supports ie8 and up
====---------------==== */
    @mixin clearfix{
      &:after {
        content:"";
        display:table;
        clear: both;
      }
    }
    .cf:after {
      content:"";
      display:table;
      clear: both;
    }



/* ====---------------====
  Wordpress Image Alignment
====---------------==== */
  .alignleft {
    float:left;
    margin:0 1.175em .875em 0;
    padding:0;
  }
  .alignright {
    float:right;
    margin:1.175em 0 .875em 1.175em;
    padding:0;
  }
  .aligncenter {
    text-align:center;
    margin:0 1.175em .875em 1.175em;
    padding:0;
  }
  
  img.aligncenter {
    display: block;

    margin: 0 auto;
  }

  img.alignleft, img.alignright, img.aligncenter {}



/* ====---------------====
  Responsive Iframes
====---------------==== */
  .iframe-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


/* ====---------------====
  In-line list - has a shortcode to use inside posts
====---------------==== */
  .inline-list {

    ul {
      padding-left: 0;
    }
    li {
      display:inline;

      padding:0 .675em;

      border-right: .1em solid #999;
      
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border: 0;
      }
    }
  }
