/* ------------------------------------------------------------------------
===========================================================================
  Variables
===========================================================================
------------------------------------------------------------------------ */

  /* ------------------------------
    Colors
  ------------------------------ */
    $headline:#555;
    $text:#333;
    $links:desaturate(blue, 60%);

  /* ------------------------------
    Fonts
  ------------------------------ */
    $head-font:Helvetica, sans-serif;
    $text-font:Helvetica, sans-serif;

  /* ------------------------------
    Misc
  ------------------------------ */
    $widthMain:1000px;
    $widthBreak1:750px;
    $widthBreak2:500px;
    $widthBreakAuto:95%;