/* ---------------------------------------------
   ======---------------------------------======
    Variables
   ======---------------------------------======
--------------------------------------------- */

/* ====---------------====
  Colors
====---------------==== */
// ====---- Type Colors
  $headline:#555;
  $text:#333;
  $links:desaturate(blue, 60%);

// ====---- Other Colors


/* ====---------------====
  Fonts
====---------------==== */
  $head-font:Helvetica, sans-serif;
  $text-font:Helvetica, sans-serif;


/* ====---------------====
  Sizes
====---------------==== */
