/* ------------------------------------------------------------------------
===========================================================================
  Header
===========================================================================
------------------------------------------------------------------------ */
.site-header {
  @include wrapperEl();

  padding-top: .575em;
  padding-bottom: .575em;
  margin-bottom: 1.875em;

  border-bottom: 1px solid lighten($text,40%);
}


/* ------------------------------
  Site Header Top Bar
------------------------------ */
  .site-header__top-bar {
    ul {
      padding-left: 0;
      padding-bottom: 0;

      list-style-type: none;
    }
    li {
      display: inline-block;
      vertical-align: middle;
    }
  }
    .site-header__contact {}
    .site-header__social {
      text-align: right;
    }


/* ------------------------------
  Site Header Logo
------------------------------ */
  .site-header__logo {
    height: auto;
    padding-top: .125em;
    padding-bottom: .125em;
  }
    .site-header__logo__title {
      padding: 0;
    }
    .site-header__logo__description {
      padding: 0;

      font-size: 1.275rem;
      font-weight: 300;
    }


/* ------------------------------
  Site Nav
------------------------------ */
  .site-header__nav {
    padding-top: 1.375em;
  }

    .site-header__nav__list {
      width:auto;

      position:relative;
      padding-left: 0;
      padding-bottom: 0;

      list-style:none;

      li {
        display: inline-block;
        
        position:relative;
        margin-right: -4px;

        font-size: 1.275em;
        font-weight: 400;
        line-height: 1em;
        font-family: $text-font;
      }
      a {
        display:block;

        position:relative;
        z-index:60;
        padding-left: .675em;
        padding-right: .675em;

        &:hover {}
      }

      > li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
      }

      /* -- Second Level -- */
      ul {
        width: 250px;

        position: absolute;
        top: 100%;
        left: -2px;
        z-index:50;
        padding-top: .375em;
        padding-left: 0;
        padding-bottom: .375em;

        visibility: hidden;

        background: rgba(230,230,230,.95);

        li {        
          position:relative;
          z-index:110;

          display:block;

          font-size: .975rem;
        }

        a {
          position:relative;
          z-index:115;
          display:block;

          padding: .225em .5em;

          &:hover {}
        }
      }
    }