/* ---------------------------------------------
   ======---------------------------------======
    Page
   ======---------------------------------======
--------------------------------------------- */

/* ====---------------====
  Hero Slider
====---------------==== */
  .hero-slider {
    img {
      width: 100%;
      height: auto;

      display: block;
    }
  }



/* ====---------------====
  Main Content
====---------------==== */
  .main {
    @include wrapperEl();
  }
    .content {
      padding-right: 1em;
    }



/* ====---------------====
  Posts
====---------------==== */
  .post {
    padding: 1em 0;

    border-bottom: 1px solid lighten($text,40%);
  }
    .post-info {
      padding: 0;

      list-style-type: none;

      li {
        display: inline;

        padding: 0 .5em 0 0;
      }
    }
    .post-date {
      font-weight: 600;
    }
    .post-cat {
      font-style: italic;
    }
    .post-title {
      padding: 0;
    }

  // ====---- Post Nav
    .navigation {
      padding: 1.25em 0 0;

      list-style-type: none;

      li {
        display: inline;

        padding: 0 1.5em 0 0;
      }
    }
      .previous-entries {}
      .next-entries {}
